  /* Login */
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .info__block {
      position: relative;
      display: flex;
  }

  .info__description {
    /* flex-wrap: wrap; ??? */
    position: absolute;
    background: #fff;
    padding: 20px;
    border-radius: 20px;

    width: 650px;
    height: 370px;
    transform: translate(-50%, -50%); 

    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
  }

  .info__title {
    position: absolute;
    left: calc(150px + 10px); /* 150px получается путем вычитания width authentication__block из width info__description, а 10px из padding */
    top: 40px;
    transform: translateX(-50%);

    font-weight: 600;
    font-size: 40px;
    color: #222;
  }

  .info__text {
    /* display: flex; ??? */
    position: absolute;
    left: calc(150px + 10px);
    top: 165px; /* 165px получается путем деления heigth info__description на 2 */
    transform: translateX(-50%);

    font-size: 30px;
    color: #222;
  }

  .info__text__after {
    /* display: flex; */
    position: absolute;
    left: calc(150px + 10px);
    top: 205px; 
    transform: translateX(-50%);

    font-size: 30px;
    color: #222;
  }


  /* Authentication block */
  .authentication__block {
    display: flex;
    flex-wrap: wrap;
    background: #222;
    padding: 20px;
    border-radius: 20px;

    width: 350px;
    height: 450px;

    position: absolute;
    transform: translateX(50%);
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
  }

  .registration__block {
      height: 600px;
  }

  label {
    /* margin: 1vh; */
    display: block;
    font-size: 20px;
    color: rgb(200, 200, 200);
  }

  input {
    margin-bottom: 15px;
    padding: 15px;
    /* background: transparent; */
    border: 0;
    border-radius: 20px;
    outline: none !important;
    width: 100%;
    line-height: 1;
  }

  .authentication__submit__wrapper {
    width: 100%;
  }

  .authentication__submit {
    color: #222;
    width: calc(50% + 25px);
    padding: 20px;
    margin-top: 45px;
    display: block;
    cursor: pointer;
    font-size: 25px;

    transform: translateX(calc(50% - 25px));
    transition: all 300ms ease;
  }

  .authentication__submit:hover {
    color: #000;
    background: rgb(200, 200, 200);
  }

  .authentication__submit:active {
    color: #222;
    background: rgb(200, 200, 200);
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
  }

  .authentication__username {
    width: 90%;
    border-radius: 20px;
    padding: 20px;
  }

  .register__wrapper {
    display: flex;
    margin: auto;
    padding: 0;
  }

  .register__field {
    background: transparent; 
    color: rgb(200, 200, 200);
    font-size: 15px;
    margin: 5px 10px;
    padding: 5px 10px;
    justify-content: space-between;

    left: 50%;
    /* transform: translate(calc(-50% - 10px), 0%); надо разобраться почему нажо отнимать 10px... */
    width: 100%;
  }

  .register__caption {
    display: block;
  }

  .button__register {
    display: inline-block;
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 5px 10px;
  }