Total options
label {
    margin: 10px 0;
    font-size: 17px !important;
    color: rgb(200, 200, 200) !important;
}

.container__for__aut {
    margin-right: 60px;
}


/* Wrapper form */
.wrapper__form {
    width: 100%;
    min-height: 100vh;
    margin: 10px auto;
    position: relative;
  
    align-items: center;
    justify-content: center;
  
    display: flex;
    flex-wrap: wrap;
  }


/* Info block */
  .info__item {
    text-align: center;
    justify-content: center;
  }
  

  /* Authentication block */  
  .wrapper__input {
    overflow: hidden;
  }

  .form__input {    
    padding: 14px;
    background: transparent;
    border-radius: 10px;
  }

  .input__username {
    padding: 5px 0 !important;
  }

  .forgot__password {
    float: right;
  }

  .checkbox {
    margin: -12px;
  }

  .formForCounter {
    text-align: center;
    align-items: center;

    padding: 40px;
    background: #222;
    border-radius: 20px;
  }

  .titleCounter {
    color: #fff !important;
    font-size: 35px !important;
  }


  /* Media requests */
  @media (max-width: 775px) {
    .container {
        margin-right: 70px;
    }

    .wrapper__form {
        top: -160px;
        left: 40px;
    }
}

  