/* Total options */
input {
    background: transparent !important;
    font-size: 17px !important;
    color: #fff !important;
}

label {
    margin: 10px 0;
    font-size: 17px !important;
    color: rgb(200, 200, 200) !important;
}

button {
    text-shadow: none !important;
}

.container {
    margin-right: 60px;
}


/* Wrapper form */
.wrapper__form {
    width: 100%;
    min-height: 100vh;
    margin: 10px auto;
    position: relative;
  
    align-items: center;
    justify-content: center;
  
    display: flex;
    flex-wrap: wrap;
  }


/* Info block */
  .info {
    position: absolute;

    z-index: 100;
    width: 650px !important;
    height: 370px;
    padding: 20px;
    border-radius: 20px;

    color: #000 !important;
    background: #fff;
  }

  .info__container {
    width: 50% !important;
  }

  .info__item {
    text-align: center;
    justify-content: center;
  }
  

  /* Authentication block */
  .form__aut {
    position: absolute;
    z-index: 1000;
    width: 370px;
    height: 470px;
    padding: 20px;
  
    left: calc(50% + 20px);
  
    background: #222 !important;
    border-radius: 20px;
  }
  
  .form__input {    
    padding: 14px;
    background: transparent !important;
    border-radius: 10px;
  }

  .checkbox {
    margin: -12px;
  }

  .authentication__submit {
    left: -37px;
    color: #222;
    padding: 10px 45px 50px;
    display: block;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50px !important;

    transition: all 300ms ease !important;
  }

  .authentication__submit:hover {
    color: #000 !important;
    background: rgb(200, 200, 200) !important;
  }

  .authentication__submit:active {
    color: #222 !important;
    background: rgb(200, 200, 200) !important;
  }

  .authentication__submit::selection {
    color: #222 !important;
    background: rgb(200, 200, 200) !important;
  }

  .field__register {
    position: absolute;
    text-decoration: none;
    color: rgb(200, 200, 200) !important;
    background: transparent !important;
    border: none !important;
    text-shadow: none !important;
    margin: 5px 10px;
    left: 60px;

    bottom: -140px !important;
  }

  .button__register {
    display: inline !important;
    padding: 0 10px !important;
    position: static !important;
    color: rgb(200, 200, 200) !important;
    text-decoration: none !important;
    background: transparent !important;
  }


  /* Media requests */
  @media (max-width: 775px ){
    .container {
        margin-right: 70px;
    }

    .wrapper__form {
        top: -160px;
        left: 40px;
    }
    
    .info {
        width: 370px !important;
    }

    .info__container {
        width: 100% !important;
    }

    .form__aut {
        left: auto;
        top: 470px;
        height: 480px;
    }

    input {
        font-size: 20px !important;
    }


}

  @media (max-width: 575px) {
    .wrapper__form {
        left: 35px !important;
    }

    .form__aut {
        height: 550px;
    }
}

@media (max-width: 415px) and (max-width: 897px) {
    .wrapper__form {
        left: 35px !important;
    }
}

@media (max-width: 376px) {
    .wrapper__form {
        left: 50px !important;
    }

    .form__aut {
        top: 370px;
    }
}

  